:root {
  background-color: #113f67;
  color: #eeeeee;
  font-size: 18;
}

label {
  text-align: center;
}

.border {
  border: 1px solid white;
}

.button {
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
  transition: background-color 0.1s;
}
