:root {
  /* background-color: #1b3c53; */
  background-color: #222831;
  color: #eeeeee;
  font-size: 18;
}

.border {
  border: 1px solid white;
}

.bold {
  font-size: bold;
}

.button {
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 15px;
  transition: background-color 0.25s;
  font-size: 18;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(150, 100, 100, 0.7);
  transition: background-color 0.1s;
}

.bar {
  background-color: rgba(100, 100, 100, 0.2);
}
