:root {
  background-color: #113f67;
  color: #eeeeee;
  font-size: 18;
}

label {
  text-align: center;
}

.border {
  border: 1px solid white;
}

.bold {
  font-size: bold;
}

.button {
  border-radius: 5px;
  background-color: rgb(150, 100, 100);
  border-radius: 5px;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: rgb(180, 100, 100);
  transition: background-color 0.1s;
}
