:root {
  background-color: #242424;
  color: #e6e6e6;
  font-size: 14;
  font-weight: light;
}

label {
  text-align: center;
}

.center {
  text-align: center;
}

.waveform {
  border: 2px solid #e6e6e6;
}
